table,
th,
td {
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
}

th {
    padding-top: 3px;
    padding-bottom: 3px;
    opacity: 66%;
}

td {
    padding: 3px;
}

.my-style {
    color: darkgray;
    font-family: 'Trebuchet MS', Arial;
}

#table-data {
    color: darkgrey;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin: 10px;
}